*{
    box-sizing: border-box;
}

body{
    font-style: Roboto, sans-serif;
    background-color: antiquewhite;
     
}

section{
    margin-left: .5em;
}
 
img{
    max-width: 100%;
    height: auto;
}
.logo{
    width: 50px;
  
}

.header{
    display: flex;
}
.menu{
    margin-left: auto;
    margin-right: .5em;
}

.nav-bar{
    text-decoration: none;
    color: white;
    margin-left: .5em;
   
}

.nav-first{
    padding-top: 1em;
}

.nav-last{
    padding-bottom: 1em;
}



.nav{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1em;
   
}
    

.break{
    display: block;
}

.nav-section{
    margin-top: 2em;
    background-color: pink;
}

.full-set{
    width: 500px;
    margin-bottom: 1em;
}

.shop{
    align-items: center;
    margin-left: 8em;
    margin-top: 1em;
    margin-bottom: 1em; 
}

.shop-btn{
    border-radius: 20px;
    padding: .5em 1.5em .5em 1.5em;
    border: none;
    color: white;
    background-color:rgb(249, 176, 187);
}





.ointment .cream .face-mist .tumeric{
    width: 450px;
}


.testimonila-grid{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
  

}
.testimonial-card{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    font-style: italic;
    max-width: 50%;
    background-color: rgb(246, 166, 179);
    color: white;
    margin-left: 5em;
    width: 100%;
   
    }



.subscribe{
    align-items: center;
    margin-left: 7em;
    margin-top: 1em;
    margin-bottom: 1em; 
}

.subscribe-btn{
    border-radius: 20px;
    padding: .5em 1.5em .5em 1.5em;
    border: none;
    color: white;
    background-color:rgb(249, 176, 187);

}

.footer{
    background-color: pink;
    color: white;
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom:1em;
}

@media(min-width:600px){
    .nav{
        /* display: flex; */
        flex-direction: row;
        justify-content: center;
    }

    .break{
        display: inline;
    }
    
    .hero-section{
        text-align: center;
        
    }

    .feature-h2, .feature-p, .feature-h3 , .testimonial-h2 ,.caption , .subscribe-h1 , .subscribe-p{
        text-align: center;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .shop{
        margin-right: 9em;
    }

    .subscribe{
        margin-left: 21em;
        
    }
    .subscribe-btn{
        margin: 1em 0;
    }

    .tumeric , .ointment , .cream , .face-mist {
        width: 500px;
        margin-left: 10em;
        /* align-items: center; */

    }

    .testimonial-card{
        margin-left: 13em;
    }

   

}

