
 
  
/* style for the mobile i.e the default screen for the browser */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
   background-color: antiquewhite;
   
    
  }

  section{
    margin-top: 40px;
    align-items: center;
    text-align: center;
    
  }

  .header-section{
   background-color: rgb(244, 183, 193);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 20px;
   max-width: 100%;
   height: auto;
   margin-top: 0;
   
  }

  .nav-inks{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
  }

  .nav-bar{
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;  
   ;
  }

  .nav{
    list-style-type: none;
    display: inline;
    margin: 0 15px;
    margin-left: 5rem
  }

  .my-logo{
    margin-right: 70rem;
    margin-top: 1em;
    max-width: 5%;
    height: auto;
  
  }
  .nav-bar:hover{
    background-color: palevioletred;
    border-radius: 10rem;
    padding: 10px;
    font-weight: 900px;
  }


  .image{
    margin: 2em 0;
  }
  .img-2{
    margin-top: 2em;
    margin-bottom: 2em;
    
  }
  .img-3{
    max-width: 45%;
  }

  
  
    
  
  h3{
    margin-top: 1em;
  }
 
  .feature-section p{
    margin-bottom: .5em;
  }

  .section-features{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

  }
  .feature-section .img-5{
    max-width: 25%;
  }

  .feature-2-2-image, .img-1-0{
    max-width: 35%;
  }

  .img-9{
    max-width: 30%;
  }

 
  
  .section-features-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
  }

  .feature-2-image{
    margin-right: 4em;
  }

  .feature-2-2-image{
    margin-right: 10em;
  }
  
  



  h1, h2{
    padding: 0.5em;
    line-height: 0.5em;
  }
  h2{
    margin: 2em 0;
  }
  .testimonial-h2{
    margin-bottom: 1em;
  }

  
 

  img{
    max-width: 100%;
    height: auto;
  }
  .img-2{
    max-width: 35%;
  }
  
 

  .btn-1{
    border-radius: 20px;
    padding: 1em 1em 1em 1em;
    border: none;
    color: white;
    background-color:rgb(253, 142, 160);
  }

  .btn-1:hover{
    cursor: pointer;
    background-color: palevioletred;
  }


  .testimonila-grid{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
  }

  .testimonial-card{
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  font-style: italic;
  max-width: 50%;
  background-color: rgb(243, 137, 154);
  color: white;
 
  }

  .btn-2{
    margin-top: 1em;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(249, 134, 153);
    padding: ;
    margin-left: 1em;
  }

  .btn-2:hover{
    cursor: pointer;
    background-color: palevioletred;

  }

  .caption{
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(13, 5, 5, 0.1);
    background-color:  rgb(247, 156, 172);
    padding: 2em;
    margin-top: 1.5em;
    color: white;
  }

  .footer{
    text-align: center;
    margin-top: 1em;
   background-color: rgb(244, 183, 193);
    padding: 2em;
  }


  
 
  