* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    
  }

  section{
    align-items: center;
    text-align: center;
    
  }

  .header-section{
   background-color: rgb(14, 44, 26);
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 10px 20px;
   max-width: 100%;
   height: auto;
   

  }

  .nav-inks{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
  }

  .nav-bar{
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: center;
    gap: 2rem;
    flex-direction: row;
    
    
  }

  .nav{
    list-style-type: none;
    display: inline;
    margin: 0 15px;
  }
  .my-logo{
  
  }


  img{
    max-width: 100%;
    height: auto;
  }
  .img-2, .img-3, .img-4, .img-5{
    max-width: 35%;
  }
  .img-1{
    max-width: 10%;
  }